a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.nav-bar-item:hover{
  background-color: var(--bs-gray);
}

.modal__container {
    border: 1px solid rgba(0,0,0,.2);
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.3rem;
    outline: 0;
}

body{
  background-color: #6EAF6E; 
}